#heading($i18n.get("mail.passwordReset.heading"))
#paragraph($i18n.get("mail.common.greeting"))
#paragraph($i18n.get("mail.passwordReset.intro"))
#button($resetLink $i18n.get("mail.passwordReset.button"))
#fallbackLink($resetLink)
#divider()
#note($i18n.get("mail.passwordReset.validity"))
#note($i18n.get("mail.passwordReset.ignore"))
