<p>Hi there,</p>
<p>You have just deleted your account. All your account data and recipes belonging to your account were deleted </p>
<p>It is sad to see you go, but you can anytime open a new account on beta.cookpal.io</p>