$i18n.get("mail.passwordReset.heading")

$i18n.get("mail.common.greeting")

$i18n.get("mail.passwordReset.intro")

$i18n.get("mail.passwordReset.button"):
$resetLink

$i18n.get("mail.passwordReset.validity")

$i18n.get("mail.passwordReset.ignore")
